:root {
    --black: rgba(0, 0, 0, 1);
    --gray-01: rgba(246, 246, 246, 1);
    --gray-02: rgba(232, 232, 232, 1);
    --gray-03: rgba(189, 189, 189, 1);
    --gray-04: rgba(102, 102, 102, 1);
    --greenprimary: rgba(93, 176, 171, 1);
    --greensecondary: rgba(59, 149, 200, 1);
    --UI-10-regular-font-family: "Inter-Regular", Helvetica;
    --UI-10-regular-font-size: 10px;
    --UI-10-regular-font-style: normal;
    --UI-10-regular-font-weight: 400;
    --UI-10-regular-letter-spacing: 0px;
    --UI-10-regular-line-height: normal;
    --UI-14-medium-font-family: "Inter-Medium", Helvetica;
    --UI-14-medium-font-size: 14px;
    --UI-14-medium-font-style: normal;
    --UI-14-medium-font-weight: 500;
    --UI-14-medium-letter-spacing: 0px;
    --UI-14-medium-line-height: normal;
    --UI-14-regular-font-family: "Inter-Regular", Helvetica;
    --UI-14-regular-font-size: 14px;
    --UI-14-regular-font-style: normal;
    --UI-14-regular-font-weight: 400;
    --UI-14-regular-letter-spacing: 0px;
    --UI-14-regular-line-height: normal;
    --UI-14-semi-font-family: "Inter-SemiBold", Helvetica;
    --UI-14-semi-font-size: 14px;
    --UI-14-semi-font-style: normal;
    --UI-14-semi-font-weight: 600;
    --UI-14-semi-letter-spacing: 0px;
    --UI-14-semi-line-height: normal;
    --UI-16-medium-font-family: "Inter-Medium", Helvetica;
    --UI-16-medium-font-size: 16px;
    --UI-16-medium-font-style: normal;
    --UI-16-medium-font-weight: 500;
    --UI-16-medium-letter-spacing: 0px;
    --UI-16-medium-line-height: normal;
    --UI-16-regular-font-family: "Inter-Regular", Helvetica;
    --UI-16-regular-font-size: 16px;
    --UI-16-regular-font-style: normal;
    --UI-16-regular-font-weight: 400;
    --UI-16-regular-letter-spacing: 0px;
    --UI-16-regular-line-height: normal;
    --UI-16-semi-font-family: "Inter-SemiBold", Helvetica;
    --UI-16-semi-font-size: 16px;
    --UI-16-semi-font-style: normal;
    --UI-16-semi-font-weight: 600;
    --UI-16-semi-letter-spacing: 0px;
    --UI-16-semi-line-height: normal;
    --UI-30-medium-font-family: "Inter-Medium", Helvetica;
    --UI-30-medium-font-size: 24px;
    --UI-30-medium-font-style: normal;
    --UI-30-medium-font-weight: 500;
    --UI-30-medium-letter-spacing: 0px;
    --UI-30-medium-line-height: normal;
    --UI-30-regular-font-family: "Inter-Regular", Helvetica;
    --UI-30-regular-font-size: 30px;
    --UI-30-regular-font-style: normal;
    --UI-30-regular-font-weight: 400;
    --UI-30-regular-letter-spacing: 0px;
    --UI-30-regular-line-height: normal;
    --UI-30-semi-font-family: "Inter-SemiBold", Helvetica;
    --UI-30-semi-font-size: 30px;
    --UI-30-semi-font-style: normal;
    --UI-30-semi-font-weight: 600;
    --UI-30-semi-letter-spacing: 0px;
    --UI-30-semi-line-height: normal;
    --white: rgba(255, 255, 255, 1);
  }
  